# Byte-compiled / optimized Python files
*.pyc
__pycache__/

# Logs
*.log

# Environment variables
.env

*blacklisted_tokens.txt

# Compiled files
*.pyc
*.pyo
*.pyd

# Dependency directories
venv/
env/
env.bak/

# Development server PID file
*.pid

# Database files
*.db

# Static files
/static/

# Uploads folder
/uploads/

# System-specific files
.DS_Store
Thumbs.db
